*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  min-height: 100vh;
}

.wrapper > button {
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
}

#instructions {
  position: absolute;
  top: -55px;
  left: -15px;
  width: max-content;
}

dialog {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2rem 4rem;
}

form > :first-child {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#form-question p {
  margin-bottom: 5px;
}

#yes {
  margin-right: 10px;
}

#form-question div {
  display: flex;
  gap: 5px;
}

.answers {
  cursor: pointer;
}

.form-buttons-container {
  gap: 10px;
}

.form-btns {
  padding: 5px;
  cursor: pointer;
}

#form-add-btn {
  padding: 5px;
  margin-left: 5px;
  background-color: black;
  color: white;
  border-radius: 4px;
}

#books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  height: auto;
  padding: 3rem;
}

.book {
  width: 15em;
  height: 20em;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  align-items: center;
  padding: 10px;
  text-align: center;
}

#book-author {
  font-size: small;
  color: darkgrey;
  margin-top: -30px;
}

#nb-of-pages {
  align-self: flex-end;
  justify-self: end;
  font-size: .8rem;
  margin-right: 10px;
}

.status, .delete {
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.status:hover, 
.delete:hover, 
#new-book-btn:hover, 
#form-add-btn:hover {
  opacity: .7;
}

.book-btns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.delete {
  background-color: red;
  color: white;
  border-color: red;
}